{
  "presets": ["babel-preset-expo"],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "@": "./src",
          "assets": "./assets",
          "translations": "./translations"
        },
        "extensions": [".json", ".js"]
      }
    ]
  ]
}
